<section class="w-full h-fit flex flex-col p-4 rounded-md">
    <header
        class="bg-white flex gap-4 items-center justify-between p-2 rounded-t-md"
    >
        @if(user){
        <p class="text-violet-900">{{ user.name }}</p>
        }
        <menu
            ><button
                class="block rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
                type="button"
            >
                + Add task
            </button></menu
        >
    </header>

    <ul class="flex flex-col">
        <li><app-task /></li>
        <li><app-task /></li>
    </ul>
</section>
