<button
    (click)="onSelectUser()"
    class="relative block overflow-hidden rounded-lg border-2 w-full bg-indigo-500 shadow-lg shadow-indigo-500/50 p-4 sm:p-6 lg:p-8 hover:shadow-lg transition-shadow duration-300 ease-in-out"
>
    <div class="flex justify-start items-center gap-4">
        <div class="hidden sm:block sm:shrink-0">
            <img
                alt="{{ user.name }}"
                src="{{ user.avatar }}"
                class="size-16 rounded-full object-cover shadow-sm"
            />
        </div>
        <span>{{ user.name }}</span>
    </div>

    <span
        class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
    ></span>
</button>
