<app-header></app-header>
<main>
    <div class="grid lg:grid-cols-2 gap-4">
        <div class="row-span-full rounded-lg shadow-md">
            <ul id="users" class="space-y-4">
                @for(user of users; track user.id){
                <li>
                    <app-user
                        [user]="user"
                        (selectUser)="onSelectUser($event)"
                    ></app-user>
                </li>
                }
            </ul>
        </div>

        @if(selectedUser){
        <div class="row-span-5">
            <app-tasks [user]="selectedUser"></app-tasks>
        </div>
        } @else {
        <div class="row-span-5">
            <p class="text-white text-center">Select a user to view tasks</p>
        </div>
        }
    </div>
</main>
<app-footer></app-footer>
