<app-header></app-header>
<main>
    <div class="grid lg:grid-cols-2 gap-4">
        <div class="row-span-full p-4 rounded-lg shadow-md">
            <ul id="users" class="space-y-4">
                <li *ngFor="let user of users">
                    <app-user [user]="user"></app-user>
                </li>
            </ul>
        </div>
        <div
            class="row-span-5 bg-white p-6 rounded-lg shadow-md flex items-center justify-center text-xl"
        >
            12
        </div>
    </div>
</main>
<app-footer></app-footer>
