<article class="border border-dashed border-white p-2">
    <div class="my-4">
        <h2>Task title</h2>
        <time datetime="">Time</time>
        <p>Task description</p>
    </div>
    <menu class="flex justify-between">
        <button
            class="block rounded-lg bg-green-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-green-700 focus:outline-none focus:ring"
            type="button"
        >
            Complete
        </button>
        <button
            class="block rounded-lg bg-blue-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-blue-700 focus:outline-none focus:ring"
            type="button"
        >
            Edit
        </button>
        <button
            class="block rounded-lg bg-red-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-red-700 focus:outline-none focus:ring"
            type="button"
        >
            Delete
        </button>
    </menu>
</article>
